.navbar {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
  margin: 25px 50px;

  a {
    font-size: 22px;
    font-weight: 500;
  }

  .nav-link {
    color: black;
    list-style: none;
    text-decoration: none;
    position: relative;

    .cart-count {
      font-size: 20px;
      position: absolute;
      bottom: 10px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .navbar{
    margin: 30px;
  }
}